body {
    font-family: Verdana;
}

table {
    border: 2px solid gray;
    border-collapse: collapse;
    margin-top: 1em;
    text-align: left;
}

th, td {
    border: 10px solid rgb(129, 129, 129);
    padding:.6em;
    
}